/* FONTURI */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
    url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*FONTURI END */

/* RESET  */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #707070;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}
/* RESET END*/

/* MONOCHROME PROJECT */

/* HEADER */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1272px;
}

.header {
  margin-bottom: 20px;
}

.header-top {
  background: transparent url('./../images/banner.png') center center / cover
    no-repeat;
  /* opacity: 1;*/
  width: 100%;
  /*margin-bottom: 16px;*/
  /*padding: 50px;*/
  height: 300px;
  color: #aeaeae;
  font-size: 14px;
  font-weight: 300;
}

.header-top-inner {
  display: flex;
  justify-content: space-around;
}
.header-connect > ul > li {
  display: inline-block;
}
.header-connect .user-social i[class*='fa-'] {
  color: #ffffff;
}

.user-social-phone-vinyl {
  color: #ffffff;
}

.header-connect .user-social-phone {
  text-align: left;
  font: normal normal normal 16px/37px Playfair Display;
  letter-spacing: 0.24px;
  color: #ffffff;
  text-transform: uppercase;
}

.header-controls {
  display: flex;
}

.user-controls {
  display: flex;
  align-items: center;
}

.user-controls > form {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
}

.user-controls form i[class*='fa-'] {
  color: #2b2b2b;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.no-outline {
  text-align: left;
  font: normal normal medium 14px/26px Roboto;
  letter-spacing: 0.07px;
  color: #2b2b2b;
  border: hidden;
  background-color: none;
}

.cart-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-controls > ul > li {
  display: inline-block;
  margin: 10px;
}

.cart-controls > ul > li > a i[class*='fa-'] {
  font: 2px;
}

.header-controls .cart-controls {
  position: relative;
}

/* HEADER-TOP-END*/

/* HEADER-BOTTOM*/
.header-bottom {
  background: #2b2b2b 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
}

.nav-primary {
  margin-bottom: 16px;
}

.nav-primary li {
  display: inline-block;
}

.nav-primary li a {
  display: inherit;
  color: #e8e8e8;
  padding: 8px 28px 8px 28px;
  text-transform: uppercase;
  margin: 0 4px;
  font-size: 19px;
  letter-spacing: 0.28px;
}
/* HEADER-BOTTOM-END*/

/* MAINT CONTENT */
.content {
  padding: 10px 160px 40px 160px;
}
/*.content-main {
  padding: 10px 160px 40px 160px;
  border-top: 1px solid #2b2b2b;
}*/

.home-catalog-preview-new_stuff {
  border-top: 1px solid #2b2b2b;
  padding-bottom: 40px;
}

.home-catalog-preview-new_stuff header h1 {
  text-align: center;
  font: normal normal bold 35px/47px Playfair Display;
  letter-spacing: 0px;
  color: #2b2b2b;
  padding: 10px;
  /*border-top: 1px solid #2b2b2b;*/
  /*padding: 10px 180px 40px 160px;*/
}

.product-tile-new_stuff {
  text-align: center;
  /* padding: 10px 180px 40px 160px;*/
}

.product-tile-new_stuff {
  display: flex;
  gap: 8px;
}

.product-tile-new_stuff .product-tile-image img {
  width: 240px;
}

.product-tile-title h1 {
  text-align: center;
  font: normal normal bold 22px/39px Playfair Display;
  letter-spacing: 0.79px;
  color: #2b2b2b;
}

.product-price i span {
  text-align: left;
  font: normal normal normal 22px/39px Playfair Display;
  letter-spacing: 0.79px;
  color: #2b2b2b;
}

.category-cta {
  display: inline-block;
  justify-content: center;
  padding: 5px;
  width: 90px;
  height: 30px;
  border: 1px solid #2b2b2b;
}

.product-tile-new_stuff .product-tile-image {
  position: relative;
}

.product-tile-new_stuff .product-tile-badge {
  color: #2b2b2b;
  font-size: 26px;
  font-weight: 500;
  top: 20px;
  right: 20px;
  position: absolute;
}

.home-catalog-preview-most_loved {
  border-top: 1px solid #2b2b2b;
  padding-bottom: 80px;
}

.home-catalog-preview-most_loved header h1 {
  text-align: center;
  font: normal normal bold 35px/47px Playfair Display;
  letter-spacing: 0px;
  color: #2b2b2b;
  padding: 10px 10px 20px 10px;
}

.home-catalog-preview-most_loved {
  text-align: center;
  /*padding-left: 160px;
  padding-right: 180px;*/
}

.product-tiles-most_loved {
  display: flex;
  gap: 8px;
}

.product-tiles-most_loved .product-tile-image img {
  width: 240px;
}

.product-tile-title h1 {
  text-align: center;
  font: normal normal bold 22px/39px Playfair Display;
  letter-spacing: 0.79px;
  color: #2b2b2b;
}

.product-price i span {
  text-align: left;
  font: normal normal normal 22px/39px Playfair Display;
  letter-spacing: 0.79px;
  color: #2b2b2b;
}

.product-tiles-most_loved .product-tile-image {
  position: relative;
}

.product-tiles-most_loved .product-tile-badge {
  color: #2b2b2b;
  font-size: 26px;
  font-weight: 500;
  top: 20px;
  right: 20px;
  position: absolute;
}

/*!!!!!*/
.home-content {
  padding-bottom: 80px;
}

.home-content {
  /*text-align: center;*/
  display: flex;
  /*padding-left: 160px;
  padding-right: 180px;
  padding-top: 80px;
  padding-bottom: 80px;*/
  /*padding: 80px 180px 80px 160px;*/
  gap: 75px;
}

.home-content aside a > img {
  float: left;
  width: 490px;
}

.home-content-main {
  float: right;
}

.home-content-main h2 {
  /*text-align: right;*/
  font: normal normal bold 30px/39px Playfair Display;
  letter-spacing: 0.66px;
  color: #2b2b2b;
  padding: 5px 5px 30px 5px;
}

.home-content-main p {
  padding-bottom: 30px;
  text-align: left;
  font: normal normal 300 15px/30px Roboto;
  letter-spacing: 0.33px;
  color: #2b2b2b;
}
/*!!!!* mannnnn*/
.home-catalog-preview-mens {
  border-top: 1px solid #2b2b2b;
}

.home-catalog-preview-mens header h1 {
  text-align: center;
  font: normal normal bold 35px/47px Playfair Display;
  letter-spacing: 0px;
  color: #2b2b2b;
  padding: 10px 10px 20px 10px;
}

.product-tiles-mens {
  text-align: center;
  /*padding-left: 160px;
  padding-right: 180px;*/
}

.product-tile-mens {
  display: flex;
  gap: 8px;
}

.product-tile-mens .product-tile-image img {
  width: 240px;
}

.product-tile-title h1 {
  text-align: center;
  font: normal normal bold 22px/39px Playfair Display;
  letter-spacing: 0.79px;
  color: #2b2b2b;
}

.product-price i span {
  text-align: left;
  font: normal normal normal 22px/39px Playfair Display;
  letter-spacing: 0.79px;
  color: #2b2b2b;
}

.product-tiles-mens .category-cta {
  display: inline-block;
  justify-content: center;
  padding: 5px;
  width: 90px;
  height: 30px;
  border: 1px solid #2b2b2b;
  margin-top: 50px;
  margin-bottom: 50px;
}

.product-tile-mens .product-tile-image {
  position: relative;
}

.product-tile-mens .product-tile-badge {
  color: #2b2b2b;
  font-size: 26px;
  font-weight: 500;
  top: 20px;
  right: 20px;
  position: absolute;
}
/*!!!!!!!*/
.home-catalog-preview-womens {
  border-top: 1px solid #2b2b2b;
}

.home-catalog-preview-womens header h1 {
  text-align: center;
  font: normal normal bold 35px/47px Playfair Display;
  letter-spacing: 0px;
  color: #2b2b2b;
  padding: 10px 10px 20px 10px;
}

.product-tiles-womens {
  text-align: center;
  /*padding-left: 160px;
  padding-right: 180px;*/
}

.product-tile-womens {
  display: flex;
  gap: 8px;
}

.product-tile-womens .product-tile-image img {
  width: 240px;
}

.product-tile-title h1 {
  text-align: center;
  font: normal normal bold 22px/39px Playfair Display;
  letter-spacing: 0.79px;
  color: #2b2b2b;
}

.product-price i span {
  text-align: left;
  font: normal normal normal 22px/39px Playfair Display;
  letter-spacing: 0.79px;
  color: #2b2b2b;
}

.home-catalog-preview-womens .category-cta {
  display: inline-block;
  justify-content: center;
  padding: 5px;
  width: 90px;
  height: 30px;
  border: 1px solid #2b2b2b;
  margin-top: 50px;
  margin-bottom: 50px;
}

.product-tile-womens .product-tile-image {
  position: relative;
}

.product-tile-womens .product-tile-badge {
  color: #2b2b2b;
  font-size: 26px;
  font-weight: 500;
  top: 20px;
  right: 20px;
  position: absolute;
}
/* MAINT CONTENT-END */

/*FOOTER*/
.footer {
  /*top: 3827px;*/
  width: 100%;
  /*height: 249px;*/
  background: #e8e8e8;
  opacity: 1;
  display: flex;
  justify-content: space-around;
}

.footer-inner {
  display: flex;
  justify-content: center;
}

.footer-contact {
  padding: 38px 38px 38px 0px;
  margin: 0 4px;
}

.footer-contact ul li a {
  display: block;
  line-height: 18px;
  text-align: left;
  font: normal normal normal 22px/37px Playfair Display;
  letter-spacing: 0.33px;
  color: #2b2b2b;
  text-transform: lowercase;
  opacity: 1;
}

.footer-information-services {
  padding: 38px 38px 38px 38px;
  margin: 0 4px;
}

.footer-information-services nav ul li :any-link {
  display: block;
  line-height: 18px;
  text-align: left;
  font: normal normal normal 22px/37px Playfair Display;
  letter-spacing: 0.33px;
  color: #2b2b2b;
  text-transform: lowercase;
  opacity: 1;
}

.footer-information-company {
  padding: 38px 38px 38px 38px;
  margin: 0 4px;
}

.footer-information-company nav ul li a {
  display: block;
  line-height: 18px;
  text-align: left;
  font: normal normal normal 22px/37px Playfair Display;
  letter-spacing: 0.33px;
  color: #2b2b2b;
  text-transform: lowercase;
  opacity: 1;
}

.footer-connect {
  display: block;
  padding: 38px 0px 38px 38px;
  margin: 0 4px;
}

.footer-connect .footer-connect-newsletter label {
  display: block;
  line-height: 18px;
  text-align: left;
  font: normal normal normal 22px/37px Playfair Display;
  letter-spacing: 0.33px;
  color: #2b2b2b;
  text-transform: lowercase;
  opacity: 1;
}

.footer-connect-newsletter input {
  display: block;
  margin: 9px 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  opacity: 1;
}

.footer-connect-newsletter button {
  display: block;
  margin: 9px 0;
  text-align: center;
  font: normal normal normal 12px/22px Roboto;
  letter-spacing: 0.48px;
  color: #2b2b2b;
  opacity: 1;
}

.footer-connect-social li {
  display: inline-block;
  text-align: center;
}

.footer-connect-social i[class*='fa-'] {
  display: block;
  margin: 18px 0;
  color: #2b2b2b;
  opacity: 1;
}
/* FOOTER-END */
